# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/**/migrations/__pycache__/
backend/staticfiles/
backend/media/
backend/db.sqlite3

# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/.vite/

# OS/editor
.DS_Store
*.pyc
